@charset "utf-8";

@font-face {
    font-family: font;
    src: url(font/His\ Heart\ is\ Mine.ttf);
}

body {
    background: rgb(0, 134, 247);
    background: linear-gradient(0deg, rgba(0, 134, 247, 1) 1%, rgba(33, 4, 102, 1) 52%, rgba(16, 1, 27, 1) 100%);
    background-size: 100% 2350px;
    cursor: default;
}

.imgcentro {
    position: absolute;
    left: 26%;
    bottom: 0;
}


.well {
    position: absolute;
    left: 42%;
    top: 28%;
    color: white;
    font-family: font;
    font-size: 3em;
    letter-spacing: 5px;
}

.sobre {
    color: white;
    position: absolute;
    font-family: font;
    top: 28%;
    font-size: 2em;
    letter-spacing: 3px;
    left: 8%;
}

.sobre:hover {
    color: #004ddd;
}

.projeto {
    color: white;
    position: absolute;
    font-family: font;
    top: 72%;
    font-size: 2em;
    letter-spacing: 3px;
    left: 77%;
}

.projeto:hover {
    color: #0022e2;
}

.mimgp {
    position: absolute;
    top: 44%;
    left: 5%;
    width: 240px;
}

.mimgp:hover {
    width: 280px;
    left: 3%;
}

.imgs {
    position: absolute;
    top: 48%;
    left: 78%;
}

.imgs:hover {
    width: 230px;
    top: 40%;
    left: 76%;
}

.soft {
    color: white;
    font-size: 2.9em;
    position: absolute;
    left: 30%;
    font-family: font;
    letter-spacing: 5px;
}


.sec {
    position: absolute;
    bottom: -75%;
    width: 640px;
    display: flex;
    flex-direction: row;
}

.softp {
    color: white;
    font-family: font;
    font-size: 1.7em;
    position: relative;
    margin-top: 35%;
    margin-left: 20px;
}

.softp1 {
    color: white;
    font-family: font;
    font-size: 1.7em;
    position: relative;
    margin-top: 35%;
}

.hard {
    color: white;
    font-size: 2.9em;
    position: absolute;
    right: 33%;
    font-family: font;
    letter-spacing: 5px;
}


.sec1 {
    position: absolute;
    bottom: -80.75%;
    right: 0;
    width: 640px;
    display: flex;
    flex-direction: row;
}

.imgsec {
    position: absolute;
    height: 100px;
    bottom: 22%;
}

.imgsec1 {
    position: absolute;
    height: 100px;
    bottom: 22%;
    left: 31%;
}

.imgsec2 {
    position: absolute;
    height: 100px;
    bottom: 22%;
    left: 72%;
}

.hardp {
    color: white;
    font-family: font;
    font-size: 2.7em;
    position: relative;
    margin-top: 35%;
    margin-right: 90px;
}

.hardp1 {
    color: white;
    font-family: font;
    font-size: 2.7em;
    position: relative;
    margin-top: 35%;
}

.hardpr {
    margin-left: 10%;
}

.imgsec3 {
    position: absolute;
    height: 100px;
    bottom: 30%;
    left: 12%;
}

.imgsec4 {
    position: absolute;
    height: 100px;
    bottom: 30%;
    left: 40%;
}

.imgsec5 {
    position: absolute;
    height: 100px;
    bottom: 30%;
    left: 72%;
}

.sec2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -125%;
    width: 95%;
}

.mim {
    color: white;
    font-family: font;
    margin-left: 5%;
    position: absolute;
    bottom: -85%;
    font-size: 2em;
    letter-spacing: 3px;
}

.mimp {
    animation: slidein 3s;
    text-align: justify;
    color: white;
    font-family: font;
    margin-left: 3%;
    font-size: 1.5em;
    letter-spacing: 3px;
    max-width: 600px;
}

.mimp2 {
    text-align: justify;
    color: white;
    font-family: font;
    margin-left: 5%;
    font-size: 1.5em;
    letter-spacing: 3px;
    max-width: 600px;
}



.pjeto {
    color: white;
    font-family: font;
    font-size: 1.7em;
}

.imgp {
    position: absolute;
    bottom: -210%;
    left: 6%;
    width: 300px;
    height: 160px;
    border: #000000 solid 5px;
    border-radius: 5px;
}

.pp {
    position: absolute;
    bottom: -185%;
    left: 10%;
}

.imgp2 {
    position: absolute;
    bottom: -250%;
    left: 6%;
    width: 300px;
    height: 160px;
    border: #000000 solid 5px;
    border-radius: 5px;
}

.pp2 {
    position: absolute;
    bottom: -226%;
    left: 6%;
}

.imgp3 {
    position: absolute;
    bottom: -210%;
    left: 36%;
    width: 300px;
    height: 160px;
    border: #000000 solid 5px;
    border-radius: 5px;
}

.pp3 {
    position: absolute;
    bottom: -185%;
    left: 36%;
}

.imgp4 {
    position: absolute;
    bottom: -250%;
    left: 36%;
    width: 300px;
    height: 160px;
    border: #000000 solid 5px;
    border-radius: 5px;
}

.pp4 {
    position: absolute;
    bottom: -226%;
    left: 39%;
}


.imgp5 {
    position: absolute;
    bottom: -210%;
    left: 66%;
    width: 300px;
    height: 160px;
    border: #000000 solid 5px;
    border-radius: 5px;
}

.pp5 {
    position: absolute;
    bottom: -185%;
    left: 67%;
}


.imgp6 {
    position: absolute;
    bottom: -250%;
    left: 66%;
    width: 300px;
    height: 160px;
    border: #000000 solid 5px;
    border-radius: 5px;
}

.pp6 {
    position: absolute;
    bottom: -226%;
    left: 70%;
}

@media all and (max-width: 760px) {

    .imgcentro {
        position: absolute;
        left: 13%;
        bottom: 50%;
        width: 300px;
    }


    .well {
        position: absolute;
        left: 24%;
        top: 50%;
        color: white;
        font-family: font;
        font-size: 2.8em;
        letter-spacing: 5px;
    }

    .sobre {
        color: white;
        position: absolute;
        font-family: font;
        top: 20%;
        font-size: 1.6em;
        letter-spacing: 3px;
        left: 8%;
    }

    .sobre:hover {
        color: #004ddd;
    }

    .projeto {
        color: white;
        position: absolute;
        font-family: font;
        top: 20%;
        font-size: 1.6em;
        letter-spacing: 3px;
        left: 50%;
    }

    .projeto:hover {
        color: #0022e2;
    }

    .mimgp {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 140px;
    }
    
    .mimgp:hover {
        width: 180px;
        left: 0%;
    }
    
    .imgs {
        position: absolute;
        width: 110px;
        top: 30%;
        left: 60%;
    }
    
    .imgs:hover {
        width: 150px;
        top: 30%;
        left: 55%;
    }
    
    .soft {
        color: white;
        font-size: 2.9em;
        position: absolute;
        left: 30%;
        font-family: font;
        letter-spacing: 5px;
    }
    
    
    .sec {
        position: absolute;
        bottom: -75%;
        width: 640px;
        display: flex;
        flex-direction: row;
    }
    
    .softp {
        color: white;
        font-family: font;
        font-size: 1.7em;
        position: relative;
        margin-top: 35%;
        margin-left: 20px;
    }
    
    .softp1 {
        color: white;
        font-family: font;
        font-size: 1.7em;
        position: relative;
        margin-top: 35%;
    }
    
    .hard {
        color: white;
        font-size: 2.9em;
        position: absolute;
        right: 33%;
        font-family: font;
        letter-spacing: 5px;
    }
    
    
    .sec1 {
        position: absolute;
        bottom: -80.75%;
        right: 0;
        width: 640px;
        display: flex;
        flex-direction: row;
    }
    
    .imgsec {
        position: absolute;
        height: 100px;
        bottom: 22%;
    }
    
    .imgsec1 {
        position: absolute;
        height: 100px;
        bottom: 22%;
        left: 31%;
    }
    
    .imgsec2 {
        position: absolute;
        height: 100px;
        bottom: 22%;
        left: 72%;
    }
    
    .hardp {
        color: white;
        font-family: font;
        font-size: 2.7em;
        position: relative;
        margin-top: 35%;
        margin-right: 90px;
    }
    
    .hardp1 {
        color: white;
        font-family: font;
        font-size: 2.7em;
        position: relative;
        margin-top: 35%;
    }
    
    .hardpr {
        margin-left: 10%;
    }
    
    .imgsec3 {
        position: absolute;
        height: 100px;
        bottom: 30%;
        left: 12%;
    }
    
    .imgsec4 {
        position: absolute;
        height: 100px;
        bottom: 30%;
        left: 40%;
    }
    
    .imgsec5 {
        position: absolute;
        height: 100px;
        bottom: 30%;
        left: 72%;
    }
    
    .sec2 {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: -125%;
        width: 95%;
    }
    
    .mim {
        color: white;
        font-family: font;
        margin-left: 5%;
        position: absolute;
        bottom: -85%;
        font-size: 2em;
        letter-spacing: 3px;
    }
    
    .mimp {
        animation: slidein 3s;
        text-align: justify;
        color: white;
        font-family: font;
        margin-left: 3%;
        font-size: 1.5em;
        letter-spacing: 3px;
        max-width: 600px;
    }
    
    .mimp2 {
        text-align: justify;
        color: white;
        font-family: font;
        margin-left: 5%;
        font-size: 1.5em;
        letter-spacing: 3px;
        max-width: 600px;
    }
    
    
    
    .pjeto {
        color: white;
        font-family: font;
        font-size: 1em;
    }
    
    .imgp {
        position: absolute;
        bottom: -188%;
        left: 4%;
        width: 100px;
        height: 60px;
        border: #000000 solid 5px;
        border-radius: 5px;
    }
    
    .pp {
        position: absolute;
        bottom: -180%;
        left: 3%;
    }
    
    .imgp2 {
        position: absolute;
        bottom: -205%;
        left: 4%;
        width: 100px;
        height: 60px;
        border: #000000 solid 5px;
        border-radius: 5px;
    }
    
    .pp2 {
        position: absolute;
        bottom: -196%;
        left: 6%;
        width: 100px;
    }
    
    .imgp3 {
        position: absolute;
        bottom: -188%;
        left: 36%;
        width: 100px;
        height: 60px;
        border: #000000 solid 5px;
        border-radius: 5px;
    }
    
    .pp3 {
        position: absolute;
        bottom: -180%;
        left: 35%;
        max-width: 130px;
    }
    
    .imgp4 {
        position: absolute;
        bottom: -215%;
        left: 36%;
        width: 100px;
        height: 60px;
        border: #000000 solid 5px;
        border-radius: 5px;
    }
    
    .pp4 {
        position: absolute;
        bottom: -196%;
        left: 36%;
        max-width: 100px;
    }
    
    
    .imgp5 {
        position: absolute;
        bottom: -188%;
        left: 68%;
        width: 100px;
        height: 60px;
        border: #000000 solid 5px;
        border-radius: 5px;
    }
    
    .pp5 {
        position: absolute;
        bottom: -180%;
        left: 67%;
    }
    
    
    .imgp6 {
        position: absolute;
        bottom: -196%;
        left: 67%;
        width: 100px;
        height: 60px;
        border: #000000 solid 5px;
        border-radius: 5px;
    }
    
    .pp6 {
        position: absolute;
        bottom: -208%;
        left: 72%;
    }
}